<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :UniqueID %><br />
    <%= f.text_field :UniqueID %>
  </div>
  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :Username %>
  </div>
  <div class="field">
    <%= f.label :keyPass %><br />
    <%= f.text_field :keyPass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
